<p style="color: green"><%= notice %></p>

<h1>Products</h1>

<div id="products">
  <table class="table">
    <thead>
      <th>Name</th>
      <th>Color</th>
      <th>Price</th>
      <th>Actions</th>
    </thead>
    <tbody>
      <% @products.each do |product| %>
        <%= content_tag :tr, id: dom_id(product) do %>
          <td><%= product.name %></td>
          <td><%= product.color %></td>
          <td><%= product.price %></td>
          <td>
            <%= link_to "Show", product %>
            <%= link_to "Edit", edit_product_path(product) %>
            <%= link_to "Destroy", product,
              data: {
                "turbo-method": :delete,
                controller: "confirmation",
                "confirmation-message-value": 'Are you sure?',
                action: "confirmation#confirm"
              }
            %>
          </td>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>

<%= link_to "New product", new_product_path %>
